* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #ddd;
  /* background-image: url(https://th.bing.com/th/id/R.f585138320f6251c0b6ac6f05f240219?rik=ryOlVCnV052RwA&pid=ImgRaw&r=0); */
  background-repeat: no-repeat;
  background-size: cover;
}

header,
footer {
  height: 5vh;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
  color: white;
  font-family: monospace;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions > button {
  padding: 10px 5px;
  margin: 2px 5px;
  cursor: pointer;
}

.game {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

th,
td {
  border: 1px solid black;
  width: 55px;
  height: 30px;
  text-align: center;
  background-color: black;
  color: white;
}

td {
  background-color: steelblue;
}

.border {
  background-color: tomato;
  padding: 10px;
}

.hidden {
  display: none;
}

.ship,
.enemy-ship {
  cursor: pointer;
  background-color: #7353ba;
  color: white;
  font-size: 0.6rem;
}

.enemy-ship {
  background-color: rgb(195, 77, 56);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  content: '';
  width: 55px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.hide {
  display: none;
}

.drag-over {
  border: dashed 3px red;
}

.attack-area {
  cursor: crosshair;
  transition: ease-in 0.1s;
}

.attack-area:hover {
  background-color: yellow;
}

.attack-area:active {
  background-color: tomato;
  transform: scale(1.5);
  z-index: 2;
}
