* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #ddd;
  /* background-image: url(https://th.bing.com/th/id/R.f585138320f6251c0b6ac6f05f240219?rik=ryOlVCnV052RwA&pid=ImgRaw&r=0); */
  background-repeat: no-repeat;
  background-size: cover;
}

.game {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

th,
td {
  border: 1px solid black;
  width: 55px;
  height: 30px;
  text-align: center;
  background-color: black;
  color: white;
}

td {
  background-color: steelblue;
}

.ship,
.enemy-ship {
  cursor: pointer;
  background-color: #7353ba;
  color: white;
  font-size: 0.6rem;
}

.enemy-ship {
  background-color: rgb(195, 77, 56);
}

.hide {
  display: none;
}

.drag-over {
  border: dashed 3px red;
}

.attack-area {
  cursor: pointer;
  transition: ease-in 0.1s;
}

.attack-area:hover {
  background-color: yellow;
}

.attack-area:active {
  background-color: tomato;
  transform: scale(1.5);
}
